// :root{
//     --primary: #fd6f09;
// }
// $color-header-point: #528d91;
// $color-content-point: #fd6f09;
// $point-color-mint:#17d4bb;
// $color-success: #16bc56;

// $desktop: 1024px;
$color-navy: #2b00d4;
$color-light-navy: rgba(43,0,212,.1);
$color-dark-navy: #0f0928;
$color-light-gray: #efeff2;
$color-dark-gray: #333;

$tablet: 1023px;
$mobile: 767px;
// $desktop-container: 1200px;
$desktop-container: 1400px;
$tablet-container: 100%;
$mobile-container: 100%;

$mobile-inner-height: calc(var(--vh, 1vh) * 100);

// $header-height: 100px;
$footer-height: 100px;