@import "@styles/helpers/global";

.footer{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 40px;
    background: $color-dark-navy;
    p{
        font-size: 14px;
        color: #fff;
        text-align: center;
    }
}