@import "@styles/helpers/global";

.footer{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: $footer-height;
    // background: $color-dark-navy;
    p{
        font-size: 14px;
        color: $color-dark-gray;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 2px;
        span{
            font-weight: 600;
        }
    }
}