@import "@styles/helpers/global";

.marquee-wrap{
  position: fixed;
  width: 100%;
  bottom: 100px;
}
.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow: hidden;
}
.track {
  position: absolute;
  white-space: nowrap;
  h1{
    // margin: 20px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 200px;
    font-weight: 900;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $color-dark-navy;
    text-transform: uppercase;
  }
}

// .track > h1 {
//   margin: 20px 0;
//   -webkit-text-fill-color: rgba(255, 255, 255, 0);
//   -webkit-text-stroke-width: 2px;
//   -webkit-text-stroke-color: $color-dark-navy;
//   text-transform: uppercase;
//   font-size: 100px;
//   font-weight: 900;
// }

@include mobile{
  .marquee {
    height: 120px;
  }
  .track {
    h1{
      font-size: 120px;
    }
  }
}