@import "@styles/helpers/global";
.aside-wrap{
    background: #fff;
}
.slidemenu{
    //position: fixed;
    //right: 0;
    // background: #fff;
    //z-index: 200;
    // &::before{
    //     content: '';
    //     position: fixed;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     background: rgba(0, 0, 0, 0.5);
    // }
    // background: rgba(0, 0, 0, 0.5);
}
.btn-gnb{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    z-index: 9999;
    cursor: pointer;
}
.aside{
    position: fixed;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 100vh;
    z-index: 9999;
    // &::before{
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     background: rgba(0, 0, 0, 0.5);
    // }
}
.dimmed{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}
.menu{
    padding: 100px 0;
}
.link{
    display: block;
}

@include tablet{
    .btn{
        width: 50px;
        height: 50px;
    }
}

@include mobile{
    .btn{
        width: 40px;
        height: 40px;
    }
}