@import "@styles/helpers/global";
.btn{
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #fff;
    border: 1px solid $color-light-navy;
    z-index: 9999;
    cursor: pointer;
    &:before{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        content: '';
        width: 0;
        transition: .3s ease-out;
    }
    &:hover{
        // background: $color-light-navy;
        &::before{
            width: 100%;
            background: $color-navy;
            opacity: .2;
            transition: .3s ease-in;
            
        }
        span{
            scale: 1.1;
        }
    }
    span{
        display: block;
        width: 80%;
        height: 2px;
        margin: 6px 0;
        background: $color-navy;
        transition: 0.15s ease-in-out;
    }
    &--active{
        span{
            width: 90%;
            margin: -1px 0;
            &:nth-child(1){
                transform: rotate(45deg);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: rotate(-45deg);
            }
        }
    }
}
.dimmed{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}
.gnb{
    position: fixed;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-dark-navy;
    height: 100vh;
    z-index: 9999;
    &__item{

    }
    &__link{
        padding: 16px 0;
        display: block;
        font-size: 48px;
        color: #fff;
        font-weight: 600;
    }
}
// .menu{
//     padding: 100px 0;
//     &__link{
//         display: block;
//         color: #fff;
//     }
// }

@include tablet{
    .btn{
        width: 50px;
        height: 50px;
    }
}

@include mobile{
    .btn{
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        span{
            margin: 3px 0;
        }
    }
}