@import "@styles/helpers/global";

.title{
    margin: 0 0 100px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
    word-break: break-all;
}

@include tablet{

}

@include mobile{
    .title{
        margin: 0 0 60px 0;
        font-size: 40px;
    }
}