@import "@styles/helpers/global";
.visual{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.visual-title{
    font-size: 12.5vw;
    color: #fff;
    font-weight: 900;
    span{
        display: block;
        &:nth-child(2){
            text-align: right;
        }
    }
}