.list{

}
.item{
  display: flex;
  justify-content: space-between;
  &:not(:first-child){
    margin: 100px 0 0 0;
  }
  &:nth-child(even){
    flex-direction: row-reverse;
  }
}
.box{
  width: 50%;
  padding: 40px;
  background: #fff;
}
.text-box{
  width: 50%;
  padding: 40px;
  border: 1px solid #fff;
}