@import "@styles/helpers/global";

.section{
  position: relative;
  background: #fff;
  z-index: 1;
}
.inner{
  display: flex;
}
.sticky-box{
  position: sticky;
  top: 0;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px 0 100px;
  width: 480px;
  height: 100vh;
  background: $color-dark-navy;
  h1{
    margin: 80px 0;
    font-size: 40px;
    color: #fff;
    line-height: 1.5;
    font-weight: 700;
  }
}
.link{
  margin: 80px 0 0 auto;
  padding: 0 24px 0 10px;
  position: relative;
  height: 60px;
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  line-height: 60px;
  border-bottom: 2px solid #fff;
  &::after{
    content: '';
    display: block;
    position: absolute;
    right: 6px;
    bottom: -4px;
    width: 2px;
    height: 20px;
    background: #fff;
    transform: rotate(-45deg);
  }
}
.list-box{
  flex: 1;
  position: relative;
  padding: 180px 60px;
}
.bg{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: 0;
  transform: translate3d(0, 0, 0);
  background: $color-light-navy;
  z-index: 1;
}
.list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__item{
    position: relative;
    width: 100%;
    max-width: 520px;
    z-index: 2;
    &:not(:first-child){
      margin: 200px 0 0 0;
    }
    &:first-child{
      align-self: flex-start;
      left: 4vw;
    }
    &:nth-child(2){
      align-self: flex-end;
      right: 6vw;
    }
    &:last-child{
      align-self: flex-start;
      left: 2vw;
    }
    a{
      position: relative;
      display: block;
      &::after{
        content: '';
        display: block;
        position: absolute;
        right: -32px;
        bottom: -64px;
        width: 100%;
        height: 100%;
        background: hsla(0,0%,96%,.502);
        border-radius: 16px;
        z-index: -1;
      }
    }
  }
}
.img-box{
  position: relative;
  width: 100%;
  border-radius: 16px;
  @include card-box-shadow;
  overflow: hidden;
  &::before{  
    content: '';
    display: block;
    padding: 75% 0 0 0;
  }
  img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include img-center-crop;
  }
}
.year{
  display: block;
  margin: 56px 0 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #999;
  text-align: right;
  opacity: 0.5;
}
.title{
  display: block;
  margin: 24px 0 0 0;
  font-size: 40px;
  line-height: 1.5;
  color: $color-dark-navy;
  font-weight: 800;
  word-break: keep-all;
}
.text-box{
  margin: 56px 0 0 0;
  display: flex;
  justify-content: flex-end;
  span{
    display: block;
    margin: 0 24px 0 0;
    font-size: 18px;
    color: #999;
  }
}

@media (max-width: 1200px){
  .list{
    &__item{
      &:first-child{
        left: 0;
      }
      &:nth-child(2){
        right: 0;
      }
      &:last-child{
        left: 0;
      }
    }
  }
}
@include tablet{
  .inner{
    flex-direction: column;
  }
  .sticky-box{
    position: relative;
    padding: 0 90px;
    width: 100%;
    height: auto;
    h1{
      margin: 20px 0;
      font-size: 32px;
    }
  }
  .link{
    margin: 20px 0 20px auto;
    font-size: 20px;
  }
  .list-box{
    width: 100%;
    padding: 120px 90px;
  }
  .list{
    &__item{
      &:not(:first-child){
        margin: 120px 0 0 0;
      }
    }
  }
  .year{
    margin: 40px 0 0;
    font-size: 20px;
  }
  .title{
    font-size: 32px;
  }
  .text-box{
    margin: 40px 0 0;
    span{
      font-size: 16px;
      margin: 0 16px 0 0;
    }
  }
}

@include mobile{
  .sticky-box{
    padding: 0 20px;
    height: auto;
    h1{
      font-size: 24px;
    }
  }
  .link{
    margin: 12px 0 20px auto;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
  .list-box{
    padding: 100px 60px 100px 20px;
  }
  .list{
    &__item{
      a{
        &:after{
          bottom: -32px;
        }
      }
    }
  }
  .title{
    font-size: 28px;
  }
}