@import "@styles/helpers/global";

.section{
  position: relative;
  background: #fff;
  z-index: 1;
}
.inner{
  display: flex;
}
.sticky-box{
  position: sticky;
  top: 0;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px 0 120px;
  width: 45%;
  height: 100vh;
  background: $color-dark-navy;
  h1{
    margin: 80px 0;
    font-size: 40px;
    color: #fff;
    font-weight: 700;
  }
}
.link{
  margin: 80px 0 0 auto;
  padding: 0 0 0 10px;
  position: relative;
  width: 100px;
  height: 60px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  line-height: 60px;
  border-bottom: 2px solid #fff;
  &::after{
    content: '';
    display: block;
    position: absolute;
    right: 6px;
    bottom: -4px;
    width: 2px;
    height: 20px;
    background: #fff;
    transform: rotate(-45deg);
  }
}
.list-box{
  position: relative;
  width: 55%;
  padding: 180px 120px;
}
.bg{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: 0;
  transform: translate3d(0, 0, 0);
  background: $color-light-navy;
  z-index: 1;
}
.list{
  max-width: 520px;
  margin: 0 auto;
  &__item{
    position: relative;
    z-index: 2;
    &:not(:first-child){
      margin: 180px 0 0 0;
    }
  }
}
.img-box{
  position: relative;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
  &::before{  
    content: '';
    display: block;
    padding: 50% 0 0 0;
    border: 1px solid #000;
  }
  img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include img-center-crop;
  }
}
.text-box{
  padding: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  @include card-box-shadow;
  span{
    display: block;
    width: 106px;
    height: 28px;
    margin: 0 0 16px auto;
    font-size: 16px;
    color: $color-dark-navy;
    font-weight: 500;
    text-align: center;
    line-height: 28px;
    background: $color-light-gray;
  }
  strong{
    display: block;
    font-size: 32px;
    color: $color-dark-navy;
    font-weight: 600;
  }
}

@include tablet{
  .inner{
    flex-direction: column;
  }
  .sticky-box{
    padding: 0 90px;
    width: 100%;
    height: 20vh;
    z-index: 100;
    h1{
      margin: 20px 0;
      font-size: 32px;
    }
  }
  .link{
    margin: 20px 0 20px auto;
    font-size: 20px;
  }
  .list-box{
    width: 100%;
    padding: 120px 90px;
  }
  .list{
    &__item{
      &:not(:first-child){
        margin: 120px 0 0 0;
      }
    }
  }
  .text-box{
    span{

    }
    strong{
      font-size: 24px;
    }
  }
}

@include mobile{
  .sticky-box{
    padding: 0 20px;
    height: auto;
    h1{
      margin: 80px 0 0 0;
      font-size: 24px;
    }
  }
  .link{
    margin: 12px 0 20px auto;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
  .list-box{
    padding: 100px 20px;
  }
  .list{
    &__item{
      &:not(:first-child){
        margin: 80px 0 0 0;
      }
    }
  }
  .img-box{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .text-box{
    padding: 20px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    span{
      width: 70px;
      height: 24px;
      font-size: 12px;
      line-height: 24px;
    }
    strong{
      font-size: 20px;
    }
  }
}