@import "@styles/helpers/global";
.section{
  position: relative;
  background: #fff;
  padding: 300px 0;
}
.outer {
  // background: url("https://uploads.codesandbox.io/uploads/user/dad4f6c8-47d8-4aa2-bdbe-07742762e99b/npwg-bg-test.jpg");
  // background-size: cover;
  // background-position: center;
  // filter: grayscale(50%);
  // padding: 100px 0;
}
.inner{
  p{
    display: inline;
    font-size: 32px;
    color: $color-dark-navy;
    font-weight: 600;
    line-height: 1.75;
  }
}
.text-container {
  position: relative;
  overflow: hidden;
  display: block;
  color: transparent;
}
.highlighted-text:before {
  content: attr(data-text);
  display: inline-block;
  opacity: 0.8;
}
.highlighted-text {
  color: #111;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 0;
  transition: clip-path 0.1s ease;
  text-shadow: 0 0 0 #111;
}

@include tablet{
  .section{
    padding: 180px 0;
  }
  .inner{
    p{
      font-size: 56px;
    }
  }
}

@include mobile{
  .section{
    padding: 80px 0;
  }
  .inner{
    p{
      font-size: 32px;
    }
  }
}