@import "@styles/helpers/global";

.inner{
    @include desktop-inner;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.visual{
    padding: 120px 0;
    &-head{
        padding: 0 10px;
        display: flex;
        justify-content: end;
        align-items: center;
        height: 30px;
        background: gray;
        span{
            margin: 0 0 0 10px;
            width: 14px;
            height: 14px;
            border-radius: 100%;
            background: #000;
        }
    }
    &-body{
        padding: 40px;
        background: lightgray;
    }
}
.title{
    font-size: 120px;
    color: #333;
    font-weight: 900;
    span{
        display: inline-block;
    }
}
.scroll{
    padding: 40px 0;
    text-align: center;
}
.bounce{
    display: inline-block;
}

@include tablet{
    .inner{
        @include tablet-inner;
    }
}

@include mobile{
    .inner{
        @include mobile-inner;
    }
}