@import "@styles/helpers/global";

.letter-scene{
    position: relative;
    height: 200vh;
    // height: 250vh;
    // opacity: 0;
}
.envelope{
    width: 28rem;
    height: 15rem;
    scale: 1;
    position: fixed;
    // position: absolute;
    top: 10rem;
    // top: 12rem;
    left: calc(50% - 14rem);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 150px 10px;
}
.front{
    width: 100%;
    height: 100%;
    background: #debda1;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letter{
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    top: 0.5rem;
    left: 0.5rem;
    // left: 0;
    // top: 0;
    background-color: #f8efd5;
    overflow: hidden;
    padding: 1rem;
    box-sizing: border-box;
    position: absolute;
}

/**/
.section{
    position: relative;
    background: #fff;
    padding: 100px 0;
    z-index: 1;
}
.out{

}
.title1{
    font-size: 56px;
    color: $color-dark-navy;
    font-weight: 700;
    margin: 200px 0 100px 0;
}
// .title2{
//     font-size: 40px;
//     margin: 0 0 100px 0;
// }
.box{
    padding: 40px;
    margin: 0 auto 100px;
    width: 500px;
    height: 300px;
    @include card-box-shadow;
    border-radius: 12px;
}

@include tablet{
    .section{
        padding: 80px 0;
    }
    .title1{
        font-size: 48px;
        margin: 180px 0 80px 0;
    }
}

@include mobile{
    .section{
        padding: 40px 0;
    }
    .title1{
        font-size: 32px;
        margin: 100px 0 60px 0;
    }
    .box{
        margin: 0 auto 40px;
        width: 100%;
    }
}