@import "@styles/helpers/global";
.section{
    position: relative;
    height: 100vh;
    background: $color-dark-navy;
    z-index: 1;
}
.inner{
    @include desktop-inner;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.visual{
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    font-size: 10vw;
    color: #fff;
    line-height: 1.25;
    font-weight: 900;
    span{
        display: inline-block;
    }
}
.scroll{
    padding: 40px 0;
    font-size: 18px;
    color: #fff;
    text-align: center;
    letter-spacing: 6px;
}
.bounce{
    display: inline-block;
}

@include tablet{
    .inner{
        @include tablet-inner;
    }
    .title{
        font-size: 18vw;
        line-height: 1.5;
    }
    .scroll{
        font-size: 16px;
    }
}

@include mobile{
    .inner{
        @include mobile-inner;
        // padding: 0 60px;
    }
    .title{
        font-size: 16vw;
    }
    .scroll{
        font-size: 14px;
    }
}