@import "@styles/helpers/global";
.about{

}
.section{
    position: relative;
    padding: 180px 0;
    z-index: 1;
    &.section1{
        background: $color-light-gray;
    }
    &.section2{
        background: #fff;
    }
}
.i-am{
}
.text{
    font-size: 24px;
    color: $color-dark-navy;
    line-height: 1.5;
}
.skill{
    margin: 100px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    strong{
        display: block;
        margin: 0 0 16px 0;
        font-size: 20px;
        color: $color-dark-navy;
        font-weight: 600;
    }
    li{
        padding: 32px;
        color: $color-dark-navy;
        @include card-box-shadow;
        p{
            font-size: 18px;
            line-height: 1.5;
        }
    }
}
.history{
    // margin: 160px 0 0 0;
    position: relative;
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        background: $color-navy;
        z-index: 1;
    }
    li{
        position: relative;
        width: calc(50% - 1px);
        padding: 40px;
        // @include card-box-shadow;
        z-index: 1;
        &::before{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: -9px;
            transform: translateY(-50%);
            width: 12px;
            height: 12px;
            background: #fff;
            border: 2px solid $color-navy;
            border-radius: 100%;
        }
        &:not(:first-child){
            margin: 32px 0 0 0;
        }
        &:nth-child(odd){
            margin-left: auto;
        }
        &:nth-child(even){
            text-align: right;
            &::before{
                left: auto;
                right: -9px;
            }
        }
        span{
            font-size: 16px;
            color: $color-dark-navy;
        }
        div{
            color: $color-dark-navy;
            strong{
                display: block;
                margin: 24px 0 0 0;
                font-size: 24px;
                font-weight: 500;
            }
            p{
                margin: 16px 0 0 0;
                font-size: 18px;
                line-height: 1.25;
            }
        }
    }
}

@include tablet{
    .section{
        padding: 100px 0;
    }
}

@include mobile{
    .text{
        font-size: 16px;
    }
    .skill{
        margin: 60px 0 0 0;
        grid-template-columns: repeat(1, 1fr);
        li{
            strong{
                font-size: 18px;
            }
            p{
                font-size: 16px;
            }
        }
    }
    .history{
        &::before{
            left: -1px;
        }
        li{
            width: 100%;
            padding: 20px;
            &:nth-child(even){
                text-align: left;
                &::before{
                    left: -9px;
                    right: inherit;
                }
            }
            span{
                font-size: 14px;
            }
            div{
                strong{
                    font-size: 18px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
}