@import "@styles/helpers/global";
.main{
}
.section{
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // min-height: 100vh;
    // padding: 160px 0;
    // height: 100vh;
    background: #fff;
}
.section1{
    // background: lightblue;
    // height: calc(100vh - 40px);
    height: 100vh;
    // height: 100vh;
    background: $color-dark-navy;
    z-index: 1;
}
.section2{
    padding: 200px 0;
}
.section3{
    // padding: 160px 0;
    // background: lightgrey;
    z-index: 1;
}
.section4{
    padding: 100px 0;
    // background: lightblue;
    z-index: 1;
}
.section5{
    position: fixed;
    width: 100%;
    bottom: 40px;
    // padding: 120px 0;
    // height: 240px;
    // background: lightgoldenrodyellow;
    // background-attachment: fixed;
}