.main{
}
.section{
    padding: 160px 0 0 0;
    height: 100vh;
}
.section1{
    background: lightblue;
    height: 60vh;
}
.section2{
    background: lightgoldenrodyellow;
}
.section3{
    background: lightgrey;
}
.title{
    font-size: 120px;
    color: #333;
    font-weight: 900;
}
.editor{
    .head{

    }
    .body{

    }
}