@import "@styles/helpers/global";
@import "@styles/base/typography";

.wrap{
    position: relative;
    padding: 0 0 300px 0;
}
.hidden{
    overflow-y: hidden;
}
.inner{
    @include desktop-inner;
}

@include tablet{
    .inner{
        @include tablet-inner;
    }
}

@include mobile{
    .wrap{
        padding: 0 0 220px 0;
    }
    .inner{
        @include mobile-inner;
    }
}