@import "@styles/helpers/global";
@import "@styles/base/typography";

.wrap{
    position: relative;
    padding: 0 0 240px 0;
}
.inner{
    @include desktop-inner;
}
.section-title{
    margin: 0 0 100px 0;
    font-size: 40px;
    font-weight: 700;
}

@include tablet{
    .inner{
        @include tablet-inner;
    }
}

@include mobile{
    .inner{
        @include mobile-inner;
    }
}