@import "@styles/helpers/global";
@import "@styles/base/typography";

// *{
//     box-sizing: border-box;
//     text-decoration: none;
// }
// body,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// input,
// textarea,
// select,
// button{
//     // font-family: 'Pretendard', sans-serif;
//     // font-family: 'SUIT', sans-serif;
//     // font-family: 'Nunito', sans-serif;
// }
.wrap{
    position: relative;
    padding: 0 0 240px 0;
}
.hidden{
    overflow-y: hidden;
}
// .main-marquee{
//     padding: 0 0 240px 0;
// }
.inner{
    @include desktop-inner;
}

@include tablet{
    .inner{
        @include tablet-inner;
    }
}

@include mobile{
    .wrap{
        padding: 0 0 160px 0;
    }
    .inner{
        @include mobile-inner;
    }
}