@import "@styles/helpers/global";
@import "@styles/base/typography";

.wrap{
    position: relative;
    padding: 0 0 240px 0;
    overflow-x: hidden;
}
.inner{
    @include desktop-inner;
}

@include tablet{
    .inner{
        @include tablet-inner;
    }
}

@include mobile{
    .inner{
        @include mobile-inner;
    }
}